/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2563eb;
  --ifm-color-primary-dark: rgb(37, 99, 235);
  --ifm-color-primary-darker: rgb(30, 64, 175);
  --ifm-color-primary-darkest: rgb(30, 64, 175);
  --ifm-color-primary-light: rgb(59, 130, 246);
  --ifm-color-primary-lighter: rgb(96, 165, 250);
  --ifm-color-primary-lightest: rgb(147, 197, 253);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* 
 * https://github.com/facebook/docusaurus/issues/4083
 * https://github.com/facebook/docusaurus/issues/2577
 * https://github.com/facebook/docusaurus/issues/3955
 */

/* Container */
#__docusaurus > div.main-wrapper > div {
  margin: 0% 2.5%;
  --ifm-container-width: 97.5%;
  --ifm-container-width-xl: 97.5%;
}

/* Left Bar */
#__docusaurus > div.main-wrapper > div > div > aside {
  --ifm-col-width: 17.5%;
}

/* Content */
#__docusaurus > div.main-wrapper > div > div > main {
  --ifm-col-width: 60%;
}

/* Right Bar */
#__docusaurus > div.main-wrapper > div > div > div {
  --ifm-col-width: 22.5%;
}